# **Neural Network**

In the process of selecting a model
taking Neural Network to the test to see whether it works better with our data.

In [ ]:
# Importing Packages

import pandas as pd
import numpy as np
from scipy.stats import loguniform
from sklearn.metrics import mean_squared_error
from sklearn.neural_network import MLPRegressor
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV

# Reading Trained and Validation Files

In [ ]:
#importing the data
from pathlib import Path
PARENT = "Predicing_House_Prices"
path = Path(PARENT).parent / "../Data/X_train_model2.csv"
X_train = pd.read_csv(path)

path2 = Path(PARENT).parent / "../Data/X_valid_model2.csv"
X_valid = pd.read_csv(path2)

path3 = Path(PARENT).parent / "../Data/y_train_model2.csv"
y_train = pd.read_csv(path3)

path4 = Path(PARENT).parent / "../Data/y_valid_model2.csv"
y_valid = pd.read_csv(path4)

In [ ]:
# Checking y_train features
X_train

,Unnamed: 0,yearBuilt,livingArea,bathrooms,bedrooms,parking,garageSpaces,hasGarage,pool,spa,...,county_Wayne County,county_Wheeler County,county_White County,county_Whitfield County,county_Wilcox County,county_Wilkes County,county_Wilkinson County,county_Worth County,county_Yolo County,county_Yuba County
0,9284,-0.668783,0.000888,0.203613,0.479148,1,1.536971,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,8342,0.367706,-0.020547,-0.529300,-0.344171,1,0.726645,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,9766,0.091309,-0.018169,-0.529300,-0.344171,1,-0.894006,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4098,-1.981668,-0.013462,-1.262212,-0.344171,1,-0.894006,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,30641,0.885950,-0.016182,-0.529300,0.479148,1,-0.894006,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15246,17360,0.402255,-0.027144,-1.262212,-1.167490,1,-0.083681,1,0,1,...,0,0,0,0,0,0,0,0,0,0
15247,12676,0.989599,-0.006018,-0.529300,-0.344171,1,-0.894006,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15248,22820,0.920500,-0.003624,0.203613,-1.167490,1,-0.894006,0,0,1,...,0,0,0,0,0,0,0,0,0,1
15249,16493,-0.806981,-0.020531,-0.529300,-0.344171,1,0.726645,1,0,0,...,0,0,0,0,0,0,0,0,0,0
15250,31385,0.194958,0.021850,0.936526,1.302468,0,-0.894006,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
# Checking length of X_train
len(X_train)

15251

## Dropping Unamed Columns for the Data

In [ ]:
# Dropping Unamed Columns
X_train = X_train.drop(columns="Unnamed: 0")
X_valid = X_valid.drop(columns="Unnamed: 0")
y_train = y_train.drop(columns="Unnamed: 0")
y_valid = y_valid.drop(columns="Unnamed: 0")

In [ ]:
X_valid.describe()

,yearBuilt,livingArea,bathrooms,bedrooms,parking,garageSpaces,hasGarage,pool,spa,isNewConstruction,...,county_Wayne County,county_Wheeler County,county_White County,county_Whitfield County,county_Wilcox County,county_Wilkes County,county_Wilkinson County,county_Worth County,county_Yolo County,county_Yuba County
count,6537.000000,6537.000000,6537.000000,6537.000000,6537.000000,6537.000000,6537.000000,6537.000000,6537.000000,6537.000000,...,6537.000000,6537.000000,6537.000000,6537.000000,6537.000000,6537.000000,6537.000000,6537.000000,6537.000000,6537.000000
mean,-0.003228,-0.006875,-0.000329,0.001178,0.769772,0.003339,0.587578,0.134465,0.177910,0.030442,...,0.000765,0.000306,0.000612,0.003365,0.000153,0.000612,0.000306,0.000459,0.003518,0.002754
std,1.006085,0.025320,0.992459,0.986828,0.421011,1.005247,0.492308,0.341178,0.382467,0.171814,...,0.027648,0.017490,0.024731,0.057919,0.012368,0.024731,0.017490,0.021419,0.059216,0.052406
min,-6.093072,-0.041445,-1.262212,-1.990809,0.000000,-0.894006,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,-0.668783,-0.020694,-0.529300,-0.344171,1.000000,-0.894006,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.091309,-0.012452,-0.529300,-0.344171,1.000000,-0.083681,1.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.782301,-0.000236,0.203613,0.479148,1.000000,0.726645,1.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.576942,0.610073,12.663129,8.712339,1.000000,16.933163,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [ ]:
# Checking Null Values
X_train.isnull().values.any()

False

# Neural Network with manually tuned parameter's.

In [ ]:
# Fitting X_train and y_train to MLp Regressor
mlp =  MLPRegressor(learning_rate_init = 0.03,
                    hidden_layer_sizes = (30,30),
                    solver = 'adam',
                    tol = 1e-5,
                    activation = 'relu',
                    n_iter_no_change = 500,
                    batch_size = 50,random_state=0,max_iter=500).fit(X_train, y_train)

/Users/rachelrichards/opt/miniconda3/lib/python3.9/site-packages/sklearn/neural_network/_multilayer_perceptron.py:1599: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/rachelrichards/opt/miniconda3/lib/python3.9/site-packages/sklearn/neural_network/_multilayer_perceptron.py:692: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (500) reached and the optimization hasn't converged yet.
  warnings.warn(

In [ ]:
# Predict through X_Validation
predict_y= mlp.predict(X_valid)

In [ ]:
predict_y

array([ 751475.98250899,  313147.48656198, 1267248.20340648, ...,
       3075326.04033611,  577950.56290122, 2231312.67144682])

In [ ]:
# Getting Our RMSE and R Squared
print("The Mean Squared Error is %.2f"%(np.sqrt(mean_squared_error(y_valid, predict_y))))
print("R Squared %.3f" % (mlp.score(X_valid, y_valid)))

The Mean Squared Error is 1432532.38
R Squared 0.394

# Filtering out the feature to see if there is improvement in scores.

In [ ]:
# Dropping unused features
X_train1 = X_train.filter(["livingArea", "bathrooms", "bedrooms", "garageSpaces", 
"pool", "isNewConstruction", "state_CA", "state_GA"])
X_valid1 = X_valid.filter(["livingArea", "bathrooms", "bedrooms", "garageSpaces", 
"pool", "isNewConstruction", "state_CA", "state_GA"])

In [ ]:
# Applying manual parameter tuning with useful data
mlp2=MLPRegressor(learning_rate_init = 0.3,
                    hidden_layer_sizes = (20,),
                    alpha = 0.0001,
                    solver = 'adam',
                    tol = 1e-5,
                    early_stopping = False,
                    activation = 'relu',
                    n_iter_no_change = 100,
                    batch_size = 500,random_state=0,max_iter=5000).fit(X_train1, y_train)

/Users/rachelrichards/opt/miniconda3/lib/python3.9/site-packages/sklearn/neural_network/_multilayer_perceptron.py:1599: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [ ]:
# Predict through new filtered X_Validation
predict_y2= mlp2.predict(X_valid1)

In [ ]:
predict_y2

array([ 505077.63970791,  424974.96437383,  767325.94752574, ...,
       1792891.82414828,  486110.6276955 , 1520769.79237614])

In [ ]:
# Getting Our RMSE and R Squared
print("The Mean Squared Error is %.2f "%(np.sqrt(mean_squared_error(y_valid, predict_y2))))
print("R Squared %.5f" % (mlp2.score(X_valid1, y_valid)))

The Mean Squared Error is 1308824.72
R Squared 0.49393

# Trying to use Grid search and Random Search to get optimal parameter

The cell had to be interrupted since it had taken 24 hours to run and was still operating had to go with alternative option which is manually tuned parameters.

In [ ]:
# Trying to use Grid search and get optimal parameter
mlp_gs = MLPRegressor(max_iter=500)
parameter_space = {
    'hidden_layer_sizes': [(10,30,10),(20,)],
    'activation': ['tanh', 'relu'],
    'solver': ['sgd', 'adam'],
    'alpha': [0.0001, 0.05],
    'learning_rate': ['constant','adaptive'],
}

clf = GridSearchCV(mlp_gs, parameter_space, n_jobs=-1, cv=5)
clf.fit(X_train, y_train) # X is train samples and y is the corresponding labels

# Trying to use Random search and get optimal parameter
classifier = MLPRegressor(solver = 'sgd',tol = 1e-5,early_stopping = False,activation = 'relu',n_iter_no_change = 1000,random_state=1,max_iter=1000)
distributions = {'learning_rate_init':loguniform(0.0001,1),'hidden_layer_sizes':[(2,2), (5,5), (30,30)],'alpha':loguniform(1e-8,1e2),'batch_size':[1,3,5,10,20,50,100,250,500]}
randomclf = RandomizedSearchCV(classifier, distributions)
randomclf.fit(X_train, y_train)
randomclf.best_params_